.basic{
  width: 100%;
  height: 100vh;
  background: rgb(59,169,152);
  /* background: linear-gradient(135deg, rgba(59,169,152,1) 25%, rgba(127,196,163,1) 75%); */
  background: linear-gradient(-45deg, #219F94, #7fc4a3, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: relative;
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    animation: gradient 5s ease infinite;
  
}
.heading{
  color: #fff9;
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow:#000;
}
.text{
  color: #0009;
  font-size: 1.2rem;
  font-weight: 400;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /* .right{
    position: fixed;
    top: 10px;
    right: 40px;

  }
  .right a{
    color: #219F94;
    font-size: 1.1rem;
    margin-left: 16px;
    letter-spacing: 0.03em;
    font-weight: 500;
  }
  
  .right .active{
    color: white;
    font-size: 1.1rem;
    margin-left: 16px;
    letter-spacing: 0.03em;
    font-weight: 500;
    border-bottom: 3px solid white;
  } */
  .fillbutton {
    position: relative;
    overflow:hidden;
    display:inline-block;
    width:150px;
    height:40px;
    margin: .2rem;
    padding: .2rem;
    border:2px solid #3ba998;
    text-align:center;
    box-sizing:border-box;
    color:#3ba998;
    text-decoration:none;
    cursor: pointer;
    line-height:28px;
    font-family: 'arial';
    border-radius: 5px;
  }
  .fillbutton > span {
    display:block;
  }
  .fillbutton > .fillbuttonhover:after, .fillbutton > .fillbuttonhover:before {
    position:absolute;
    top:0;
    opacity:0;
    display:block;
    content:"";
    width:0;
    height:40px;
  }
  .fillbutton > .fillbuttonhover:after {
    background-color:#f0ffff;
    transform:skewX(45deg);
    transform-origin:center center;
    transition:all .35s, opacity .4s;
    left:50%;
  }
  .fillbutton .fillbuttonhover:before {
    background-color:#ff9348;
    transition:opacity 1s;
  }
  
  .fillbutton .fillbuttontext {
    z-index:1;
    position:relative;
    color:#3ba998;
    transition:color .35s;
    font-weight: 600;
    font-size: 1rem;
  }
  .fillbutton:hover .fillbuttontext {
    color:#3ba998;
  }
  .fillbutton .fillbuttonhover:hover:after {
    opacity:1;
    left:2%;
    width:95%;
    transform:skewX(45deg);
  }
  .fillbutton > .fillbuttonhover:hover:before {
    opacity: 1;
    left: 0;
    width:100%;
  }