.title{
font-size: 2.2rem;
font-weight: 700;
font-family: 'PT Serif', serif;
color: #6e6e6e;
}
.sub{
font-weight: 700;
font-family: 'PT Serif', serif;
color: #219F94;
}

.left{
font-size: 1.5rem;
color: white;
font-weight: 700;
}
.left img{
width: 100%;
}
.right{
  position: absolute;
  top: 10px;
  right: 40px;
}
.right a{
  color: white;
  font-size: 1.1rem;
  margin-left: 16px;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.right .active{
  color: white;
  font-size: 1.1rem;
  margin-left: 16px;
  letter-spacing: 0.03em;
  font-weight: 500;
  border-bottom: 3px solid white;
}
.heading{
font-size: 2.2rem;
font-weight: 700;
color: white;
letter-spacing: 0.03em;
margin-bottom: 16px;
}
.subheading{
  color: white;
font-weight: 400;
opacity: 0.8;
line-height: 1.4rem;
margin-bottom: 16px;
letter-spacing: 0.03em;
  }
/* 
.pdiv{
  height: 100vh;
  background: rgb(59,169,152);
  background: linear-gradient(-45deg, #219F94, #7fc4a3, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  animation: gradient 5s ease infinite;
} 
*/
/* .pdiv::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
background: rgba(255, 255, 255, 0.089);
clip-path: ellipse(50% 100% at 50% 100%);
} */
/* .leaf {
  position: absolute;
      width:100px;
      height: 100px;
      border-radius:100% 0;
      margin: 10px;
      background-color: green;	
  } */

.bgimg{
  width: 100%;
}

.marker_animation{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
justify-content: center;
}

.pin{
width: 30px;
height: 30px;
/* position: absolute; */
transform: rotate(-45deg);
border-radius: 50% 50% 50% 0;
background: #ecede8;
animation-name: bounce;
animation-fill-mode: both;
animation-duration: 1s;
}
.pin:after{
  content: '';
  width: 14px;
  height: 14px;
  background: #219f95ab;
  position: absolute;
  border-radius: 50%;
  top: 30%;
  right: 30%;
}
.pulse{
background: #ecede867;
border-radius: 50%;
height: 14px;
width: 14px;
transform: rotateX(55deg);
/* position: absolute; */
}
.pulse:after{
  content: '';
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -100%;
  left: -100%;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  box-shadow :0 0 1px 2px #ecede8;
  animation-delay: 1.1s;
}


.map{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  height: 100%;
}
.map img{
  max-height: 95vh;
  padding: 1%;
}
.mapright{
  width: 40%;
  padding: 10% 5%;
  background-color: #f0ffff;
}
.ayushmean{
  background-image: url("../../assets/3921140.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 80vh;
  background-position: right center;
  background-attachment: fixed;
  padding: 2%;
}
.ayushfull{
  text-align: center;
  padding: 5%;
}
.ayushfull span{
  padding: 1%;
}
.ayushmeanchild{
  padding: 5%;
}
.shlokheading{
  color: #fff9;
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow:#000;
}
.shloktext{
  color: #0009;
  font-size: 1.2rem;
  font-weight: 400;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media only screen and (max-width: 1350px) {
    .map img{
    width: 80vw;
    max-height: unset;
    margin: 0 auto;
    padding: 2%;
  }
  .mapright{
    width: 100%;
    padding: 5%;
    background-color: #f0ffff;
  }
  .ayushmean{
    background-size: 80%;
    background-position: center center;
  }
  .shlokheading, .shloktext{
    background-color: #fff9;
  }
}